.cart-form__group {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-form__title {
  @include font(400, 15px, 30px);
  color: $color-text-second;
  margin: 0 auto;
}

.cart-form__list {
  @include font(700, 17px, 16px);
  list-style-type: none;
  padding: 0;
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 32px;
}

.cart-form__control-button {
  @include font(700, 17px, 16px);
  border-color: $color-border-btn-size;
  display: block;
  width: 82px;
  height: 52px;
  padding: 18px 12px 12px;

  &:hover {
    border-color: $color-border-btn-size-hover;
  }
}

.cart-form__control-radio[type="radio"]:checked + .cart-form__control-button {
  border-color: $color-border-btn-green;
}

.cart-form__control-radio[type="radio"]:disabled + .cart-form__control-button {
  opacity: 0.1;
}

@media (min-width: $tablet-width) {
  .cart-form__title {
    @include font(400, 17px, 30px);
  }

  .cart-form__control-button {
    width: 112px;
  }

  .cart-form__list {
    width: 350px;
    margin-top: 17px;
  }
}
