.catalog-navigation {
  padding: 0;
  margin: auto;
  margin-bottom: 0;
}

.catalog-navigation__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.catalog-navigation__link {
  @include font(700, 19px, 24px);
  color: $color-text-invert;
  text-decoration: none;
  width: 100vw;
  min-height: 103px;
  display: block;
}

.catalog-navigation__link-icon--toy {
  transform: translate(2px, -3px);
}

.catalog-navigation__link-content {
  width: 320px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 24px 30px 17px;
  gap: 25px;
}

.catalog-navigation__link--lighten {
  background-color: $color-bg-btn-green;

  &:hover {
    background-color: $color-bg-btn-green-hover;
    transform: translateY(-5px);
    box-shadow: 0 5px $color-bg-btn-green-hover;
    transition: transform 250ms;

    .catalog-navigation__link-icon {
      opacity: 0.7;
    }
  }

  &:active {
    background-color: $color-bg-btn-green-active;

    .catalog-navigation__link-icon {
      opacity: 0.3;
    }
  }
}

.catalog-navigation__link--darken {
  background-color: $color-bg-btn-green-darken;

  &:hover {
    background-color: $color-bg-btn-green-darken-hover;
    transform: translateY(-5px);
    box-shadow: 0 5px $color-bg-btn-green-darken-hover;
    transition: transform 250ms;

    .catalog-navigation__link-icon {
      opacity: 0.7;
    }
  }

  &:active {
    background-color: $color-bg-btn-green-darken-active;

    .catalog-navigation__link-icon {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog-navigation__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 668px;
  }

  .catalog-navigation__link {
    @include font(700, 20px, 30px);
    width: 334px;
    min-height: 119px;
  }

  .catalog-navigation__link-icon {
    transform: translate(5px, 7px);
  }
}

@media (min-width: $desktop-width) {
  .catalog-navigation__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 1050px;
  }

  .catalog-navigation__link {
    width: 525px;
    min-height: 119px;
  }

  .catalog-navigation__link-content {
    width: 513px;
    grid-template-columns: 10fr 1fr;
    padding: 24px 30px 30px;
    gap: 30px;
  }

  .catalog-navigation__link-icon {
    transform: translate(0, 7px);
  }
}
