.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 30px;

  @media (min-width: $tablet-width) {
    row-gap: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 316px);
    gap: 51px;
  }
}

