.contacts__heading {
  @include font(700, 25px, 30px);
  color: $color-text-title;
}

.contacts__title {
  @include font(400, 14px, 30px);
  color: $color-text-second;
}

.contacts__description {
  @include font(400, 14px, 30px);
  color: $color-text-second;
}
