.copyright {
  width: 180px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__icon {
  transform: translateY(4px);
}

.copyright__link {
  &:hover {
    .copyright__icon {
      fill: #46c1ae;
    }
  }

  &:active {
    .copyright__icon {
      fill: rgba(#46c1ae, 0.3);
    }
  }
}

.copyright__text {
  @include font(700, 19px, 18px);
  color: $color-text-title;
}

@media (min-width: $tablet-width) {
  .copyright__icon {
    transform: translateY(-1px);
  }
}
