.main-footer {
  background-color: $color-bg-darken;
}

.main-footer__logo {
  display: none;

  &:not(.current):hover {
    .main-footer__logo-icon {
      fill: #46c1ae;
    }
  }

  &:not(.current):active {
    .main-footer__logo-icon {
      fill: rgba(#46c1ae, 0.3);
    }
  }
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-footer__social {
  min-width: 160px;
  padding: 29px 0 26px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 260px;
    border-bottom: 1px solid #e5e5e5;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-footer__copyright {
  min-height: 79px;
  padding: 10px 0;
}

@media (min-width: $tablet-width) {
  .main-footer__logo {
    display: block;
  }

  .main-footer__wrapper {
    justify-content: space-between;
    align-items: center;
    min-height: 143px;
  }

  .main-footer__social {
    padding: 25px 0 29px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer__logo {
    display: block;
  }

  .main-footer__wrapper {
    justify-content: space-between;
  }
}
