.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  min-height: 79px;
  padding-top: 12px;
  z-index: 2;
}

.main-nav__logo-wrap {
  align-self: center;
  padding: 10px 0;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  right: -89px;
  top: 22px;
  width: 20px;
  height: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 4px 0 0 #231f20, 0 8px 0 0 #231f20;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -2px;
    width: 25px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-nav__icon {
  position: absolute;
  left: -45px;
  top: 3px;
  opacity: 0.2;
}

.main-nav__link:not(.current) {
  position: relative;

  &:hover {
    color: rgba($color-text-title, 0.6);

    .main-nav__icon {
      fill: #63d1bb;
      opacity: 1;
    }
  }

  &:active {
    color: rgba($color-text-title, 0.3);

    .main-nav__icon {
      fill: #63d1bb;
      opacity: 0.3;
    }
  }
}

.main-nav__item {
  padding: 22px 15px;
  width: 320px;
  min-height: 79px;
}

.main-nav__text-wrap {
  order: 5;
  display: none;
}

.main-nav__text {
  @include font(400, 15px, 24px);
  color: $color-text-second;
  margin: 0;
}

.main-nav__logo:not(.current) {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list--mobile {
    display: none;
  }

  .main-nav--opened .main-nav__list--site {
    // position: absolute;
    // top: 80px;
    background-color: $color-bg;
    z-index: 2;
    left: 0;
  }

  .main-nav--opened .main-nav__list--user {
    // position: absolute;
    // top: 238px;
    background-color: $color-bg;
    z-index: 2;
    left: 0;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list--mobile {
    position: static;
    display: block;
  }

  .main-nav {
    width: 100vw;
    padding: 12px 0 0;
  }

  .main-nav__item {
    width: 320px;
    padding: 27px 15px 27px 76px;
    margin: 0 auto;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 98vw;
      background-color: #ececec;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    // &:first-child::before {
    //   content: "";
    //   position: absolute;
    //   height: 1px;
    //   width: 98vw;
    //   background-color: #ececec;
    //   top: 0;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: baseline;
    align-items: stretch;
    padding-top: 0;
  }

  .main-nav__logo-wrap {
    align-self: center;
    padding: 8px 0 0;
  }

  .main-nav__link {
    &--search span {
      font-size: 0;
      opacity: 0;
      word-break: break-all;
    }

    &--search .main-nav__icon {
      left: -4px;
      top: 12px;
    }

    &--cart .main-nav__icon {
      left: -51px;
    }
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 380px;
    min-height: 88px;
  }

  .main-nav__item {
    min-height: 88px;
    padding: 22px 0;
    width: 140px;

    // &:not(:last-child) {
    //   margin-right: 20px;
    // }
  }

  .main-nav__text-wrap {
    display: block;
    background-image: linear-gradient(to bottom, #e6e6e6 1px, #f1f1f1 1px);
    flex-grow: 1;
    position: relative;
    padding-top: 21px;

    &::after {
      content: "";
      position: absolute;
      background-image: linear-gradient(to bottom, #e6e6e6 1px, #f1f1f1 1px);
      width: calc((100vw - 668px) / 2);
      height: 100%;
      top: 0;
      // bottom: 0;
      z-index: -1;
      right: calc(((100vw - 668px) / 2) * -1);
    }

    &--index {
      background-image: linear-gradient(to bottom, #e6e6e6 1px, #f9f9f9 1px);
    }

    &--index::after {
      background-image: linear-gradient(to bottom, #e6e6e6 1px, #f9f9f9 1px);
    }
  }

  .main-nav__text {
    text-align: end;
    max-width: 338px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo-image {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: flex-start;
  }

  .main-nav__item {
    width: 160px;

    &--catalog {
      // border-right: 1px solid rgba(#000000, 0.1);
      width: 185px;
    }

    // &:not(:last-child) {
    //   margin-right: 22px;
    // }
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__text {
    display: block;
    order: 5;
    max-width: 670px;
    // padding-top: 21px;

    &::after {
      content: "";
      position: absolute;
      background-image: linear-gradient(to bottom, #e6e6e6 1px, #f9f9f9 1px);
      width: calc((100vw - 1050px) / 2);
      // height: 100%;
      top: 0;
      bottom: 0;
      z-index: -1;
      right: calc(((100vw - 1050px) / 2) * -1);
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo-wrap {
    order: 2;
    padding: 8px 0 0;
    align-self: flex-start;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }
}
