.making {
  margin-bottom: 58px;
}

.making__wrap {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  padding-bottom: 32px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.making__title {
  @include font(700, 17px, 24px);
  color: $color-text-title;
  margin: 0;
  padding: 20px 0 27px 90px;
  position: relative;

  &::before {
    content: "";
    width: 32px;
    height: 22px;
    background-image: url("../img/video-icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 34px;
    left: 33px;
  }
}

.making__text {
  @include font(400, 13px, 24px);
  color: $color-text-second;
  margin: 0 0 9px;
  padding: 31px 32px;
}

.making__link {
  @include font(700, 18px, 16px);
  text-decoration: none;
  display: block;
  width: 192px;
  margin: 0 auto;
  padding: 17px 10px;
  text-align: center;
}

.making__video-wrap {
  position: relative;
}

.making__button {
  $icon-width: 101px;
  $icon-height: 77px;
  $icon-size: 101px 77px;
  position: absolute;
  border: none;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    transform: scale(1.2) translate(-50%, -50%);
    transition: 250ms;
  }

  &:active {
    opacity: 0.3;
    transform: scale(0.8);
  }

  &:focus {
    .making__button-icon {
      outline: 4px solid #444444;
      border-radius: 10px;
    }
  }
}

.making__button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $tablet-width) {
  .making {
    padding-top: 21px;
    margin-bottom: 63px;
  }

  .making__wrap {
    padding-bottom: 45px;
  }

  .making__img-no-video {
    width: 668px;
    height: 455px;
    display: block;
  }

  .making__video-wrap {
    order: 1;
  }

  .making__title {
    @include font(700, 20px, 24px);
    padding: 40px 30px 25px 106px;
    order: 2;

    &::before {
      top: 38px;
      left: 41px;
    }
  }

  .making__text {
    @include font(400, 15px, 30px);
    padding: 0 40px;
    order: 3;
    margin-bottom: 40px;
  }

  .making__link {
    font-size: 17px;
    width: 584px;
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .making {
    margin-bottom: 104px;
    padding-top: 23px;
  }

  .making__wrap {
    display: grid;
    grid-template-columns: 682px 366px;
    grid-template-rows: repeat(3, auto);
    padding: 0;
  }

  .making__video-wrap {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    align-items: center;
  }

  .making__link {
    width: 230px;
    margin-bottom: 30px;
    margin-left: 79px;
    align-self: baseline;
  }

  .making__title {
    padding: 96px 48px 0 80px;

    &::before {
      top: 48px;
      left: 79px;
    }
  }

  .making__text {
    padding: 0 35px 0 80px;
    margin-bottom: 20px;
  }

  .making__img-no-video {
    width: 682px;
  }
}
