.order-form__fieldset {
  border: none;
  position: relative;
}

.order-form__legend {
  @include font(700, 17px, 16px);
  color: $color-text-green;
  text-transform: uppercase;
}

.order-form__list {
  list-style-type: none;
  padding: 0;
}

.order-form__label {
  @include font(700, 17px, 18px);
  color: $color-text-title;

  &--green {
    @include font(700, 17px, 16px);
    color: $color-text-green;
    text-transform: uppercase;
  }
}

.order-form__note {
  @include font(400, 14px, 16px);
  color: $color-text-second;
}

.order-form__button {
  @include font(700, 17px, 16px);
}

.order-form__input {
  @include font(400, 17px, 18px);
  font-family: inherit;
  color: $color-text-input;
  width: 100%;

  &::placeholder {
    @include font(400, 17px, 18px);
    font-family: inherit;
    color: $color-text-input-placeholder;
  }
}

@media (min-width: $tablet-width) {
  .order-form__wrap {
    &--contact {
      padding-left: 175px;
      position: relative;
    }

    &--other {
      padding-left: 175px;
      position: relative;
    }

    &--bottom {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &--darken {
      background-color: $color-bg-darken;
    }
  }

  .order-form__legend {
    position: absolute;
    left: 50px;
    top: 20px;
  }

  .order-form__wrap--contact .order-form__label,
  .order-form__wrap--other .order-form__label {
    position: absolute;
    left: 50px;
  }

  .order-form__label {
    @include font(700, 19px, 18px);
  }

  .order-form__list {
    padding-left: 175px;

    &--color {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .order-form__list--color .order-form__item {
    width: 50%;
  }

  .order-form__item--name {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .order-form__input {
      margin-left: 25px;
    }
  }

  .order-form__wrap--contact .order-form__input,
  .order-form__wrap--other .order-form__input {
    width: 500px;
    margin-left: auto;
    display: block;
  }

  .order-form__input::placeholder {
    @include font(400, 19px, 18px);
  }

  .order-form__note {
    @include font(400, 17px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .order-form__list--color .order-form__item {
    width: 30%;
  }

  .order-form__legend {
    left: 97px;
  }


  .order-form__wrap--contact .order-form__label,
  .order-form__wrap--other .order-form__label {
    left: 97px;
  }

  .order-form__item--name {
    padding-right: 175px;
  }

  .order-form__wrap {
    &--contact {
      padding-right: 225px;
    }

    &--other {
      padding-right: 225px;
    }

    &--bottom {
      padding: 0 225px;
    }
  }

  .order-form__wrap--contact .order-form__input,
  .order-form__wrap--other .order-form__input {
    width: 700px;
  }
}
