.page {
  height: 100%;
}

.page__body {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  min-width: 320px;
  background-color: $color-bg;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
