@import "../color.scss";
@import "../mixin.scss";

.product-week__title {
  @include font(700, 25px, 30px);
  color: $color-text-title;
}

.product-week__subtitle {
  @include font(700, 17px, 20px);
  color: $color-text-green;
}

.product-week__description {
  @include font(400, 15px, 24px);
  color: $color-text-second;
}

.product-week__price {
  @include font(700, 17px, 24px);
  color: $color-text-title;
}
