.product-card__title-link {
  @include font(700, 17px, 24px);
  color: $color-text-title;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: rgba($color-text-title, 0.6);
  }

  &:active {
    color: rgba($color-text-title, 0.3);
  }
}

.product-card__title {
  margin: 15px 0 5px;
}

.product-card__description {
  @include font(400, 13px, 30px);
  color: $color-text-second;
  display: block;
  margin-bottom: 17px;
}

.product-card__price {
  @include font(700, 15px, 24px);
  color: $color-text-title;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ececec;

  &:nth-child(3) .product-card__title {
    margin: 20px 0 7px;
  }

  &:hover {
    .product-card__content {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    .product-card__content {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.product-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 28px;
}

.product-card__description-wrap {
  width: 203px;
  border-bottom: 1px solid #ececec;
}

.product-card__buy-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 22px 60px 25px 0;
}

.product-card__button-icon {
  opacity: 0.2;
}

.product-card__button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 27px;
  cursor: pointer;

  &:hover {
    .product-card__button-icon {
      fill: #63d1bb;
      opacity: 1;
    }
  }

  &:active {
    .product-card__button-icon {
      fill: #63d1bb;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    flex-direction: row;
    padding: 0;

    &:nth-child(3) .product-card__title {
      margin: 23px 0 5px;
      padding-right: 45px;
    }

    @media (max-width: $desktop-width) {
      &:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);

        .product-card__content {
          box-shadow: none;
        }
      }

      &:active {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

        .product-card__content {
          box-shadow: none;
        }
      }
    }
  }

  .product-card__content {
    padding-left: 33px;
    min-height: 334px;
  }

  .product-card__link {
    width: 334px;
    height: 331px;
  }

  .product-card__description-wrap {
    flex-grow: 1;
    width: 268px;
    padding-top: 4px;
    margin: 0;
  }

  .product-card__title {
    margin-top: 16px;
  }

  .product-card__title-link {
    @include font(700, 20px, 24px);
  }

  .product-card__description {
    @include font(400, 15px, 30px);
  }

  .product-card__buy-wrap {
    padding-top: 25px;
  }

  .product-card__price {
    @include font(700, 17px, 24px);
  }

  .product-card__button {
    right: 31px;
    top: 24px;
  }

  .product-card__img {
    width: 334px;
    height: 334px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    flex-direction: column;
  }

  .product-card__link {
    width: 316px;
    height: 462px;
  }

  .product-card__content {
    padding-left: 27px;
    min-height: 197px;
  }

  .product-card__description-wrap {
    width: 255px;
  }

  .product-card__description {
    margin-bottom: 10px;
  }

  .product-card__img {
    width: 316px;
    height: 462px;
  }
}
