.product-card__title-link {
  @include font(700, 17px, 24px);
  color: $color-text-title;
  text-decoration: none;
  display: inline-block;
}

.product-card__title {
  margin: 15px 0 5px;
}

.product-card__description {
  @include font(400, 13px, 30px);
  color: $color-text-second;
  display: block;
  margin-bottom: 17px;
}

.product-card__price {
  @include font(700, 15px, 24px);
  color: $color-text-title;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ececec;
  padding-bottom: 26px;

  &:nth-child(3) .product-card__title {
    margin: 20px 0 7px;
  }
}

.product-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 28px;
}

.product-card__description-wrap {
  width: 203px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 22px;
}

.product-card__buy-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.product-card__button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 23px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .product-card {
    flex-direction: row;
    padding: 0;

    &:nth-child(3) .product-card__title {
      margin: 23px 0 5px;
      padding-right: 45px;
    }
  }

  .product-card__content {
    padding-left: 33px;
  }

  .product-card__link {
    width: 334px;
    height: 331px;
  }

  .product-card__description-wrap {
    flex-grow: 1;
    width: 268px;
    padding-top: 4px;
    margin: 0;
  }

  .product-card__buy-wrap {
    padding: 24px 0;
  }

  .product-card__title-link {
    @include font(700, 20px, 24px);
  }

  .product-card__description {
    @include font(400, 15px, 30px);
  }

  .product-card__price {
    @include font(700, 17px, 24px);
  }

  .product-card__button {
    right: 26px;
  }

  .product-card__img {
    width: 334px;
    height: 334px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    flex-direction: column;
  }

  .product-card__link {
    width: 316px;
    height: 462px;
  }

  .product-card__content {
    padding-left: 27px;
  }

  .product-card__description-wrap {
    width: 255px;
  }

  .product-card__description {
    margin-bottom: 10px;
  }

  .product-card__buy-wrap {
    padding: 22px 0 26px;
  }

  .product-card__img {
    width: 316px;
    height: 462px;
  }
}
