.site-list__link {
  @include font(700, 17px, 24px);
  color: $color-text-title;
  text-decoration: none;
}


.site-list {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}
