.social__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  &:hover {
    .social__icon {
      fill: #46c1ae;
    }
  }

  &:active {
    .social__icon {
      fill: rgba(#46c1ae, 0.3);
    }
  }
}
