$font-basic: "Open Sans", sans-serif;
$color-bg: #ffffff;
$color-bg-darken: #f1f1f1;
$color-bg-btn-green: #63d1bb;
$color-bg-btn-green-hover: #59d5bc;
$color-bg-btn-green-active: #59d5bc;
$color-bg-btn-green-darken: #56c3b2;
$color-bg-btn-green-darken-hover: #46c1ae;
$color-bg-btn-green-darken-active: #46c1ae;
$color-bg-btn-ghost: #ffffff;
$color-bg-btn-ghost-hover: #444444;
$color-bg-btn-ghost-active: #444444;
$color-border-btn-ghost: #444444;
$color-border-btn-green: #62d1bb;
$color-border-btn-size: rgba(68, 68, 68, 0.1);
$color-border-btn-size-hover: rgba(68, 68, 68, 0.3);
$color-border-btn-size-active: #62d1ba;
$color-text-title: #000000;
$color-text-second: #444444;
$color-text-invert: #ffffff;
$color-text-green: #63d1bb;
$color-text-input: #444444;
$color-text-input-placeholder: rgba(0, 0, 0, 0.3);
$color-icon: rgba(0, 0, 0, 0.2);
$color-icon-hover: #63d1bb;
$color-icon-active: rgba(99, 209, 18, 0.3);
